<template>
  <section class="lab-section">
          <div class="intro">
                  <h2>1. Simple Forms manipulation and testing</h2>
                  <h3>Form validation</h3>
                  <article>
                      <p>Input form with constraint for email, name fields and phone number fields. When pressing submit - form is validated. For any bad input an error message is shown. For good input show “Success” For wrong input show “Fail”.</p>
                 </article>
             </div>
            
            <div class="labForms">
 
                  <form class="form-validation" v-on:submit.prevent="validateBeforeSubmit">
                      
                       <input  name="name" v-model="form.name" v-validate="'required|alpha'" type="text" placeholder="Name" >
                       <span v-show="errors.has('name')" class="warn">{{ errors.first('name') }}</span>
                     
                      <!--<span class="alert" v-if="errors.has('name')">{{ errors.first('name') }}</span>-->
                      
                       <input name="form.lastname" v-model="form.lastname" v-validate="'required|alpha'" type="text" placeholder="Lastname" >
                       <span v-show="errors.has('lastname')" class="warn">{{ errors.first('lastname') }}</span>

                      
                       <input name="email" v-model="form.email" v-validate="'required|email'" type="email" placeholder="Email" >
                        <span v-show="errors.has('email')" class="warn">{{ errors.first('email') }}</span>

                      
                       <input name="phone" v-model="form.phone" v-validate="'required|numeric'" type="number" placeholder="Phone number" >
                        <span v-show="errors.has('phone')" class="warn">{{ errors.first('phone') }}</span><br>

                        <button type="submit" class="submit" value="submit" >Submit</button>
                      
                        <!--<button class="reset" v-on:click="resetForm">Reset</button>-->
                  </form>
             </div>
         
                    <h2 class="result-msg" v-if="successMsg"><img src="../../assets/bunny-green.png"> <br> Success!</h2>
      
                    <h2 class="result-msg" v-if="failMsg">Fail!</h2>

          
    </section>
</template>

<script>
export default {
    data() {
     return {
         form: {
             name: '',
             lastname: '',
             email: '',
             phone: ''  
         },
       
         successMsg: false,
         failMsg: false 
    }
  },
  methods: {
      validateBeforeSubmit() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          
            this.successMsg = true;
         return 
        }
       else   this.failMsg = true;
          
      });
                                         
    },
      /*resetForm: function() {
            this.successMsg = false;
            this.failMsg = false;
            this.form.name = '',
            this.form.lastname = '',
            this.form.email = '',
            this.form.phone = ''
         }*/
  }
}
      
</script>

<style scoped>
    
    .form-validation input {
         width: calc(100% - 40px);
        border: 0;
        padding: 17px 20px;
        font-size: 1.1em;
        background: #E0EDF4;
        color:  #3E5252;
        margin-bottom: 4px;
    }

    .form-validation input::placeholder {
        color:  #99b2b2;
    }
    
     .form-validation .submit {
        font-size: 0.9em;
        background-color: #1be46b;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 18px;
        margin: 5px 0;
    }

     .form-validation button:hover {
         opacity: 0.7;
         cursor: pointer;
    } 
    
    .warn {
        color: red;
        font-size: 0.8em;
    }
    .reset {
        font-size: 0.9em;
        background-color:  /*#ea48a9;*/  #e77a32;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 18px;
        float: right;
        margin: 5px 0;
    }
    
    .reset:hover {
        opacity: 0.7;
    }
</style>
