<template>
  <section class="lab-section">
          <div class="intro">
                  <h2>2. String manipulation</h2>
                  <h3>Concatenate strings</h3>
                  <article>
                      <p>Generate two random strings(randstr1, randstr2) and display them to the user. The task of the user is to input the concatenated strings in the input box and a submit button. When clicking the submit button, if results is equal to concat(randstr1, randstr2) success should be displayed, otherwise fail. The random string can be picked from a list of strings or real randomized chars i.e “acsdsdejgwejbekfbke”.</p>
                      <p>Must TYPE in the strings</p>
                 </article>
             </div>
            
            <div class="labForms">
            
                <button class="generateRandom" v-on:click="randomFunc">Generate Strings</button>
                
                <p>{{ randStr1}} <br>
                {{ randStr2 }}</p>
                
                <form class="form-list" v-on:submit.prevent="compareStrings" >
                
                    <input type="text"  placeholder="Type the strings here..."  v-model="inputStr">
                    <button type="submit" class="submit" value="submit" >Submit</button>
                   
                </form>
                
             </div>
                    <h2 class="result-msg" v-if="successMsg"><img src="../../assets/bunny-green.png"> <br> Success!</h2>
      
                    <h2 class="result-msg" v-if="failMsg">Fail!</h2>
    </section>
</template>

<script>
export default {
    data() {
     return {
    
         animals: ['cat', 'dog', 'bunny', 'horse', 'cow', 'tiger', 'lion', 'mouse', 'bird', 'turtle'],
         
         randStr1: '',
         randStr2: '',
         
         inputStr: '',
         myConcat: '',
         successMsg: false,
         failMsg: false 
     }
    },
  methods: {
        randomFunc: function() {
               
              this.randStr1 = this.animals [Math.floor(Math.random() * this.animals.length)];
              this.randStr2 = this.animals [Math.floor(Math.random() * this.animals.length)];
            
             this.successMsg = false;
             this.failMsg =  false;
        },
      
        concatStr: function() {
                this.myConcat = this.randStr1 + this.randStr2;
        },
      
      /* concatStr: function(a, b) {
                return a + b;
        },*/
      
        compareStrings: function() {
              this.concatStr();

          // var myConcat = this.randStr1 + this.randStr2;
                                    
               if ( this.myConcat == this.inputStr) {
                   
                    this.successMsg = true;
               }
               else  this.failMsg = true;   
            
               this.inputStr = '';
        }
       
    }
}

</script>

<style scoped>
    
    .generateRandom {
        font-size: 0.9em;
        background-color:  /*#ea48a9;*/  #e77a32;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 20px;
    }
    
     button:hover {
        opacity: 0.8;
         cursor: pointer;
    }
    
  
</style>
