<template>
  <div class="lab-section">
    <div class="intro">
            <h2>5.Conditional Logic</h2>
            <h3>5.1 Cat or dog</h3>
            <article>
                <p> On page reload show a picture of a cat or dog (equal image dimensions). Display two buttons “Cat” or “Dog”. The task is to click the right one. When clicking the right button, show “Success”. When clicking wrong button, show “Fail”.</p>
            </article>
    </div>
    <div class="labForms">
        
        <button type="button"  class="random" v-on:click="randomFunc">Generate Pet</button>

         <p class="petImage" ><img src='../../assets/cat1.jpg'  v-if="isCat"/></p>
                
        <p class="petImage" v-if="!isCat"><img src="../../assets/dog1.jpg"></p>

        <button type="button" class="cat" value="" v-on:click="comparePictCat">Cat</button>
        <button type="button" class="dog" value=""v-on:click="comparePictDog" >Dog</button>
        
        
         <h2 class="result-msg" v-if="ShowSuccessMsg"><img src="../../assets/bunny-green.png"> <br> Success!</h2>
      
        <h2 class="result-msg" v-if="!ShowSuccessMsg">Fail!</h2>

    </div>  
 </div>
</template>

<script>
   
export default {
    data() {
     return {
       
        isCat: false,
        ShowSuccessMsg: false,
    }
  },
  methods: {
      
    randomFunc: function() {
        
              this.isCat = Math.random() >= 0.5;
        
                this.ShowSuccessMsg = false
                //this.failMsg = false 
    },
      
        comparePictCat: function() {
            
            this.ShowSuccessMsg = false
                //this.failMsg = false 
          
          if ( this.isCat) {
              
              this.ShowSuccessMsg = true;
          }
          else    this.ShowSuccessMsg = false;
       
      },
      
        comparePictDog: function() {
            
            this.ShowSuccessMsg = false
                //this.failMsg = false 
          
          if ( this.isCat) {
              
                this.ShowSuccessMsg = true;

          }
          else  this.ShowSuccessMsg = true;
      }
  },
    
  created: function () {  //   Lifecycle Hook - called synchronously after the instance is created
    
      this.isCat = Math.random() >= 0.5;
  },
    
  

}
</script>


<style scoped>
    
    .cat, .dog, .random {
        font-size: 0.9em;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 20px;
    }
    
    button:hover {
        opacity: 0.7;
         cursor: pointer;
    }
    
    .cat {
        background: #e62e9c;
    }
    
    .dog {
        background: #e4d01b;
    }
    
     .random {
        background: #e6782e;
    }
   
    .petImage {
        position: relative;
        left: 0;
        top: 0;
    }
</style>
