<template>
  <div class="lab-section">
    <div class="intro">
            <h2>5.Conditional Logic</h2>
            <h3>5.1 Cat or dog</h3>
            <article>
                <p> On page reload show a picture of a cat or dog (equal image dimensions). Display two buttons “Cat” or “Dog”. The task is to click the right one. When clicking the right button, show “Success”. When clicking wrong button, show “Fail”.</p>
            </article>
    </div>
    <div class="labForms">
        
        <button type="button"  class="random" v-on:click="randomFunc">Generate Pet</button>

         <p class="petImage" ><img src='../../assets/cat1.jpg'  v-if="isCat"/></p>
                
        <p class="petImage" v-if="!isCat"><img src="../../assets/dog1.jpg"></p>

        <button type="button" class="cat" value="" v-on:click="comparePictCat">Cat</button>
        <button type="button" class="dog" value=""v-on:click="comparePictDog" >Dog</button>
        
         <h2 class="result-msg" v-if="successMsg"><img src="../../assets/bunny-green.png"> <br> Success!</h2>
      
        <h2 class="result-msg" v-if="failMsg">Fail!</h2>


           
    </div>  
 </div>
</template>

<script>
    
    /*import catImage1 from "../../assets/cat1.jpg"
    import catImage2 from "../../assets/cat2.jpg"
    import catImage3 from "../../assets/cat3.jpg"
    import dogImage1 from "../../assets/dog1.jpg"
    import dogImage2 from "../../assets/dog2.jpg"
    import dogImage3 from "../../assets/dog3.jpg"*/

export default {
    data() {
     return {
        // testingImage: [catImage1, catImage2, catImage3, dogImage1, dogImage2, dogImage2],
        
       // pets: ['cat', 'dog'],
       // randPet: '',
         
        isCat: false,
        //petDog: false,
       // x: 0
        successMsg: false,
        failMsg: false 
    }
  },
  methods: {
      
    randomFunc: function() {
        
              this.isCat = Math.random() >= 0.5;
        
                this.successMsg = false
                this.failMsg = false 

                
        /*this.randPet = this.pets [Math.floor(Math.random() * this.pets.length)];
        
                this.isCat = false;
                this.petDog = false;
                
        if ( this.randPet == 'cat') {
                    this.petCat = true;
        }
        else    this.petDog = true;
     
        },
      
        catImage: function() {
              this.randPet == this.petCat;
        },

        dogImage: function() {
              this.randPet == this.petDog;
        },*/
      
    },
      /*
        comparePictCat: function() {
          
          if ( this.isCat) {
              alert('success');
          }
          else   alert('fail');
       
      },*/
       /* comparePictDog: function() {
          
          if ( this.isCat) {
              
              alert('fail');
          }
          else   alert('success');
      }
      */
      
        comparePictCat: function() {
            
            this.successMsg = false
                this.failMsg = false 
          
          if ( this.isCat) {
              
              this.successMsg = true;
          }
          else    this.failMsg = true;
       
      },
      
        comparePictDog: function() {
            
            this.successMsg = false
                this.failMsg = false 
          
          if ( this.isCat) {
              
                this.failMsg = true;

          }
          else  this.successMsg = true;
      }
  },
    
  created: function () {  //   Lifecycle Hook - called synchronously after the instance is created
    
         /* this.randPet = this.pets [Math.floor(Math.random() * this.pets.length)];
      
      if ( this.randPet == 'cat') {
            this.petCat = true;
      }
      else
          this.petDog = true;*/
      
    
      //var random_boolean = Math.random() >= 0.5;
         //console.log(random_boolean);
      
        //this.isCat = true;
      
      this.isCat = Math.random() >= 0.5;
  },
    
  

}
</script>


<style scoped>
    
    .cat, .dog, .random {
        font-size: 0.9em;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 20px;
    }
    
    button:hover {
        opacity: 0.7;
         cursor: pointer;
    }
    
    .cat {
        background: #e62e9c;
    }
    
    .dog {
        background: #e4d01b;
    }
    
     .random {
        background: #e6782e;
    }
   
    .petImage {
        position: relative;
        left: 0;
        top: 0;
    }
</style>
