<template>
  <div class="lab-section">
    <div class="intro">
            <h2>5.Conditional Logic</h2>
            <h3>5.1 Cat or dog</h3>
            <article>
                <p> On page reload show a picture of a cat or dog (equal image dimensions). Display two buttons “Cat” or “Dog”. The task is to click the right one. When clicking the right button, show “Success”. When clicking wrong button, show “Fail”.</p>
            </article>
    </div>
    <div class="labForms">
        
        <button type="button"  class="random" v-on:click="randomFunc">Generate Pet</button>

        <!--<p class="petImage" ><img v-for="(image, index) in imagesCat" v-bind:src="image.url"   v-if="petCat"/></p>-->
        
<!--         <p class="petImage" ><img src='../../assets/cat1.jpg'  v-if="petCat"/></p>-->
        
         <button type="button"  v-on:click="testing">Testing</button>

         <p><img id="testingImage" v-bind:src="testingImage" width="" /></p>
        
       <!-- <p class="petImage" v-if="petDog"><img src="../../assets/dog1.jpg"></p>-->
            
        <button type="button" class="cat" value="" >Cat</button>
        <button type="button" class="dog" value="" >Dog</button>

        
           
    </div>  
 </div>
</template>

<script>
    
    import catImage1 from "../../assets/cat1.jpg"
    import catImage2 from "../../assets/cat2.jpg"
    import catImage3 from "../../assets/cat3.jpg"
    import dogImage1 from "../../assets/dog1.jpg"
    import dogImage2 from "../../assets/dog2.jpg"
    import dogImage3 from "../../assets/dog3.jpg"

export default {
    data() {
     return {
         testingImage: [catImage1, catImage2, catImage3, dogImage1, dogImage2, dogImage2],
         
          /*imagesCat: [
              'https://pixabay.com/en/cat-pet-3261420/',
              'https://pixabay.com/en/basketball-cat-page-three-cute-3266675/',
              'https://pixabay.com/en/cat-portrait-animals-cute-pet-3270629/'
         ],*/
         
         /*imagesDog: [
            {url: '../../assets/dog1.jpg',  alt: 'Dog 1'},
            {url: '../../assets/dog2.jpg',  alt: 'Dog 2'},
            {url: '../../assets/dog3.jpg',  alt: 'Dog 3'}
         ],*/
        pets: ['cat', 'dog'],
        randPet: '',
         
        petCat: false,
        petDog: false,
        x: 0
    }
  },
  methods: {
      
    randomFunc: function() {
                
        this.randPet = this.pets [Math.floor(Math.random() * this.pets.length)];
        
                this.petCat = false;
                this.petDog = false;
                
        if ( this.randPet == 'cat') {
                    this.petCat = true;
        }
        else    this.petDog = true;
     
        },
      
        catImage: function() {
              this.randPet == this.petCat;
        },

        dogImage: function() {
              this.randPet == this.petDog;
        },
      
      
        testing: function() {
        this.x++;

        if (this.x >= this.testingImage.length) {
            this.x = 0;
        }

        document.getElementById('testingImage').src = this.testingImage[this.x];
    }

  },
    
  created: function () {  //   Lifecycle Hook - called synchronously after the instance is created
      
    /*  
      this.x++;

        if (this.x >= this.testingImage.length) {
            this.x = 0;
        }

        document.getElementById('testingImage').src = this.testingImage[this.x];
      */
      
          this.randPet = this.pets [Math.floor(Math.random() * this.pets.length)];
      
      if ( this.randPet == 'cat') {
            this.petCat = true;
      }
      else
          this.petDog = true;
  },
    
  

}
</script>


<style scoped>
    
    .cat, .dog, .random {
        font-size: 0.9em;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 20px;
    }
    
    button:hover {
        opacity: 0.7;
         cursor: pointer;
    }
    
    .cat {
        background: #e62e9c;
    }
    
    .dog {
        background: #e4d01b;
    }
    
     .random {
        background: #e6782e;
    }
   
    .petImage {
        position: relative;
        left: 0;
        top: 0;
    }
</style>
