<template>
  <div class="lab-section">
    <div class="intro">
            <h2>5.Conditional Logic</h2>
            <h3>5.1 Click the right button</h3>
            <article>
                <p>On page reload randomly show “Click Green button” or “Click Red button”. Display two buttons, one with the text “Red” and color red, and the other with the color green and text “Green”. If the wrong button is pressed, display “Fail”. If the correct button is pressed, display “Success”.</p>
            </article>
    </div>
    <div class="labForms">
        
        <button type="button"  class="random" v-on:click="randomFunc">Generate Color</button>

        <h3>Click {{ randColor }} button!</h3>

        <button type="button" class="red" value="red" v-on:click="compareRed">{{ colorRed }}</button>
        
        <button type="button" class="green" value="green" v-on:click="compareGreen">{{ colorGreen }} </button>

           
    </div>  
 </div>
</template>

<script>
export default {
    data() {
     return {
        colors: ['red', 'green'],
        randColor: '',
         
        colorRed: 'red',
        colorGreen: 'green'

       // successMsg: false,
        //failMsg: false 
    }
  },
  methods: {
        randomFunc: function() {
            
            this.randColor = this.colors [Math.floor(Math.random() * this.colors.length)];
        },
      
      compareRed: function() {
          
          if (this.colorRed == this.randColor) {
                  alert('success');
          }
          else 
              alert('fail');
        
          
      },
      compareGreen: function() {
            if (this.colorGreen == this.randColor) {
                  alert('success');
          }
          else 
              alert('fail');
        
      }
    
  },
    created: function () {
         this.randColor = this.colors [Math.floor(Math.random() * this.colors.length)];
    }

}
</script>


<style scoped>
    .red, .green, .random{
        font-size: 0.9em;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 20px;
        margin: 5px 0;
    }
   
     button:hover {
        opacity: 0.8;
         cursor: pointer;
    }
    
    .red {
        background: #e62e40;
        margin-top: 10px;
    }
    
    .green {
        background: #1be46b;
        margin-top: 10px;
    }
   
    .random {
        background: #e6782e;
    }
    
</style>
