<template>
  <div class="lab-section">
    <div class="intro">
            <h2>4. Lists</h2>
            <h3>4.2 Add item to list and edit</h3>
            <article>
                <p>  Show an add button. The add buttons allows you to add an item with some metadata in a popup form. When clicking submit the the item title gets added to a list. The item can also be edited, again displaying the popup. The item can also be deleted from the list.</p>
            </article>
    </div>
    <div class="labForms">
                <button type="submit" class="submit" @submit.prevent="addFilms">Add film</button>
        
            <div class="list-wrapper">
                <ul>
                    <li v-for="(data, index) in films" :key='index'>
                        {{ data.film }}
                        <i class="fa fa-times" v-on:click="remove(index)"></i>
                    </li>
                </ul>
                
            </div>
    </div>  
 </div>
</template>

<script>
export default {
    data() {
     return {
         film: '',
         films: [
            { "film": "Gone with the wind" },
            { "film": "Spiderman"}
         ]
    }
  },
  methods: {
      addFilms() {
          this.films.push( {film: this.film})
          this.film = '';
      },
      remove(id) {
          this.films.splice(id,1);
      }
  }
}
</script>

<style scoped>
   
   
</style>
