<template>
  <div class="lab-section">
    <div class="intro">
            <h2>4. Lists</h2>
            <h3>4.1 Add item to list</h3>
            <article>
                <p> Show an input box, and a submit button. When clicking submit the value in the input box gets added to a list. The item can also be deleted from the list.</p>
            </article>
    </div>
    <div class="labForms">
            <form class="" @submit.prevent="addHobby">
                
                <input type="text"  placeholder="Enter a favourite hobby..." v-model="hobby">
                <button type="submit" class="submit" value="submit" >Submit</button>
                      <!--v-on:keyup.enter="enterHit"-->
            </form>
            <div class="list-wrapper">
                <ul>
                    <li v-for="(data, index) in hobbies" :key='index'>
                        {{ data.hobby }}
                        <i class="fa fa-times" v-on:click="remove(index)"></i>
                    </li>
                </ul>
                
                <!--<p v-if="hobbies.length >=1">You have more than one hobby</p>
                <p v-else>You have only one hobby or less</p>-->
            </div>
    </div>  
 </div>
</template>

<script>
export default {
    data() {
     return {
         hobby: '',
         hobbies: [
            { "hobby": "Walking" },
            { "hobby": "Running"}
         ]
    }
  },
  methods: {
      /*enterHit: function() {
          console.log('You hit enter');
      }*/
      addHobby() {
          this.hobbies.push( {hobby: this.hobby})
          this.hobby = '';
      },
      remove(id) {
          this.hobbies.splice(id,1);
      }
  }

}
</script>

<!--<style src="../../style.css">
</style>-->
<!--<style src="./listOne.css">
</style>-->


<style scoped>
   
</style>
