<template>
    <footer>
        <p>&copy; {{ copyright }}</p>
    </footer>
     
</template>

<script>
export default {
  data() {
     return {
        copyright: ' Copyright 2018 Boozang'

    }
  },
  methods: {
  }

}
</script>

<style scoped>
/*
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,700'); 
*/
    
    footer {
        height: 250px;
        background: #2885c4;
        width: 80%;
        margin-left: 20%;
        font-family: 'Raleway', 'Arial', sans-serif;
        color: #fff;
        padding-left: 0;
        padding-right: 0;
    }
    p {
        text-align: center;
        padding-top: 200px;
        font-size: 0.9em;
        margin: 0;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 5em 0 0 0;
    }
    li {
        margin: 10px 0;
    }
    a {
        color: #fff;
        text-decoration: none;
        padding: 6px 8px;
        font-weight: 300;
    }
    
    .router-link-active {
        color: #2e9ce6;
    }

</style>
