<template>
      <div class="header" v-bind:class="{ 'blue': blueActive }">
      <div class="boozang-ad">
          <div>
              <a href="https://boozang.com/">Powered by &nbsp;<img src="../assets/boozang.png"><br><h3 v-bind:class="{ 'color-white': colorWhiteActive }">Try it out Now!</h3></a>
              
          </div>
      </div>
        
  </div>
</template>

<script>
export default {
 data() {
     return {
         blueActive: true,
         colorWhiteActive: true
    }
  },
    watch: {
        '$route' () {
            if (this.$route.path === '/') {
                    this.blueActive = true;
                    this.colorWhiteActive = true;
            }
            else {
                    this.blueActive = false;
                    this.colorWhiteActive = false;
            }
        }
    },
  methods: {
  }
}
</script>

<style scoped>
    /* @import url('https://fonts.googleapis.com/css?family=Raleway:300,700'); 
    */
    .header {
        background: #fff;
        width: 80%;
        margin-left: 20%;
        font-family: 'Raleway', 'Arial', sans-serif;
        color: #fff;
        padding-left: 0;
        padding-right: 0;
        min-height: 100px;
    }
    .header.blue {
        background: #2e9ce6;

    }
    .boozang-ad {
        display: flex;
        justify-content: flex-end;
        padding-right: 4em; 
        padding-top: 2em;
    }
    .boozang-ad a {
        text-decoration: none;
         color: #003a61;
    }
    .boozang-ad h3 {
         color: #2e9ce6;
         margin: 5px;
    }
    .boozang-ad h3.color-white {
         color: #fff;
    }
    
     .boozang-ad img {
       width: 90px;
        vertical-align: middle;
    
    }
    
</style>
