<template>
  <div class="lab-home">
     
        <div class="intro">
              <h1>Welcome to {{ title }}</h1>
              <article>
                  <p>Welcome to the Boozang Test Lab. Here you can test different aspects of web applications. It's ideal to practice how to do test automation, and it also to acts as a testing ground for your automation tools. </p><p>The site is divided into a number of test categories, that each has a number of problems to solve. Each problem has a help text on how this is solved using the Boozang tool, and a video on how to solve it. There is also a free Udemy course that takes you through each task with solution which can be found here.</p>
             </article>
         
        </div>
  </div>
</template>

<script>
export default {
 data() {
     return {
         title: 'The Lab'

    }
  },
  methods: {
  }
}
</script>

<style scoped>
        
    .lab-home {
        background: #2e9ce6;
        width: 80%;
        margin-left: 20%;
        font-family: 'Raleway', 'Arial', sans-serif;
        color: #fff;
        padding-left: 0;
        padding-right: 0;
        min-height: 700px;
    }
   
    .lab-home .intro {
        width: 600px;
        padding: 1em 1em 1em 10em;
    }
    .lab-home .intro h1 {
        font-weight: 300;
        font-size: 2.6em;
    }
    
    article {
        line-height: 28px;
    }
</style>
