<template>
     <nav>
          <h2><router-link to="/" exact>The Lab</router-link></h2>

         <ul class="main-nav">
             <li>1. Simple Forms manipulation and testing
                <ul>
                    <li><router-link to="/labForms/formOne" exact>1.1 Form validation</router-link></li>

                </ul>
             </li>
             <li>2. String manipulation
                <ul>
                    <li><router-link to="/labStrings/concatStr" exact>2.1 Concat strings</router-link></li>

                </ul>
             </li>
             <li>3. Render waits and delay testing
                <ul>
                    <li><router-link to="/labWaits/tooFast" exact>3.1 “Don’t be too fast, don’t be too slow”</router-link></li>
                     <li><router-link to="/labWaits/fastest" exact>3.2 “Wait and click as fast as you can”</router-link></li>

                </ul>
             </li>
             <li>4. Lists
                <ul>
                     <li><router-link to="/labLists/listOne" exact>4.1 Add item to list</router-link></li>
                    <li><router-link to="/labLists/listTwo" exact>4. 2 Add item to list and edit</router-link></li>
                </ul>
             </li>
              
             <li>5. Conditional Logic
                <ul>
                       <li><router-link to="/labConditionals/rightBtn" exact>5.1 Click the right button</router-link></li>
                        <li><router-link to="/labConditionals/catOrDog" exact>5.2 Cat or dog</router-link></li>
                </ul>
            </li>
            

        </ul>
     </nav>
</template>

<script>
export default {
  data() {
    return {
            
    }
  },
  methods: {
  }

}
</script>

<style scoped>
/*
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,700'); 
*/
    
    nav{
        display: block;
        width: 20%;
        position: fixed;
        height: 100%;
        padding: 1em 1em 1em 2em;
        box-sizing: border-box;
        background: #2b2e3b;
        font-family: 'Raleway', 'Arial', sans-serif;
    }
    h2 {
        font-size: 2em;
        margin-top: 10px;
    }
    h2 a {
        color: #2e9ce6; 
    }
    h2 a:hover {
       opacity: 0.7;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .main-nav {
        padding: 2em 0 0 0;

    }
    ul li {
        margin: 20px 0;
        color: #fff;
    }
    ul li ul li {
        margin: 7px;
        color: #fff;
    }
    a {
        color: #979eb4;
        text-decoration: none;
        padding: 6px 8px;
        font-weight: 300;
        font-size: 0.9em;
    }
    a:hover {
        color: #2e9ce6;
        
    }
    
    .router-link-active {
        color: #2e9ce6;
    }

</style>
