<template>
  <div class="lab-section">
    <div class="intro">
            <h2>3.Render waits and delay testing</h2>
            <h3>3.1 Don’t be too fast, don’t be too slow</h3>
            <article>
                <p>Show a button that can be clicked “Start Game”. When clicked display another button that can be clicked “End Game”. When clicked the response varies the following way, where t is time.</p>
                <ul>
                    <li> t 	&lt; 5s: “Fail. Too soon”</li>
                     <li> 5s &lt; t &lt; 10 s: “Success”</li>
                     <li> t &gt; 10 s: “Fail. Too late”</li>
                </ul>
            </article>
    </div>
    <div class="labForms">
        
        <button type="button"  class="red" v-on:click="startGame">Start Game</button>

        
        <button type="button" class="green"  v-bind:class="{ btnShow: btnActive }" v-on:click="endGame">End Game</button>

           
    </div>  
 </div>
</template>

<script>
export default {
    data() {
     return {
       btnActive: false
    }
  },
  methods: {
       
      startGame: function() {
          btnActive = true;
          
      },
      
      endGame: function() {
           alert ('Too soon!');
      
      }
      
      /*compareRed: function() {
          
          if (this.colorRed == this.randColor) {
                  alert('success');
          }
          else 
              alert('fail');
      }*/
     
    
  }
   

}
</script>


<style scoped>
    
    .btnShow {
        display: inline;
    }
    
    .red, .green, .random{
        font-size: 0.9em;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 20px;
        margin: 5px 0;
    }
   
     button:hover {
        opacity: 0.8;
         cursor: pointer;
    }
    
    .red {
        background: #e62e40;
        margin-top: 10px;
    }
    
    .green {
        background: #1be46b;
        margin-top: 10px;
    }
   
    
</style>
