<template>
  <div class="lab-section">
    <div class="intro">
            <h2>3.Render waits and delay testing</h2>
            <h3>3.2 Wait and click as fast as you can</h3>
            <article>
                <p> Show a button that starts the game “Start Game”. Wait random rt (0s &lt; rt &lt; 60s) with displaying another button “End Game”. When End Game is clicked show “Success” and separate score of (t-rt), which i how long it took to hit button. </p>
               
            </article>
    </div>
    <div class="labForms">
        
        <button type="button"  class="red" v-on:click="startGame">Start Game</button>

        
        <button type="button" class="green"  v-bind:class="{ btnShow: btnActive }" v-on:click="endGame">End Game</button>

           
    </div>  
 </div>
</template>

<script>
export default {
    data() {
     return {
       btnActive: false
    }
  },
  methods: {
       
      startGame: function() {
          btnActive = true;
          
      },
      
      endGame: function() {
          alert ('Too soon!');
      
      }
      
      /*compareRed: function() {
          
          if (this.colorRed == this.randColor) {
                  alert('success');
          }
          else 
              alert('fail');
      }*/
  }
   
}
</script>


<style scoped>
    
    .btnShow {
        display: inline;
    }
    
    .red, .green, .random{
        font-size: 0.9em;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 20px;
        margin: 5px 0;
    }
   
     button:hover {
        opacity: 0.8;
         cursor: pointer;
    }
    
    .red {
        background: #e62e40;
        margin-top: 10px;
    }
    
    .green {
        background: #1be46b;
        margin-top: 10px;
    }
   
    
</style>
