<template>
    <div id="lab-container">
        <app-nav></app-nav>
        <app-header></app-header>
        <router-view></router-view>
        <app-footer></app-footer>
    </div>
</template>

<script>
import labHome from './components/labHome.vue'
import nav from './components/nav.vue'
import header from './components/header.vue'
import footer from './components/footer.vue'
import formOne from './components/labForms/formOne.vue'
import listOne from './components/labLists/listOne.vue'
import listTwo from './components/labLists/listTwo.vue'
import concatStr from  './components/labStrings/concatStr.vue'
import rightBtn from  './components/labConditionals/rightBtn.vue'
import catOrDog from  './components/labConditionals/catOrDog.vue'
import tooFast from   './components/labWaits/tooFast.vue'
import fastest from   './components/labWaits/fastest.vue'



export default {
    
//register components
  components: {
     'lab-home': labHome,
      'app-nav': nav,
      'app-header': header,
      'app-footer': footer,
      'form-one': formOne,
      'list-one': listOne,
      'list-one': listTwo,
      'concat-str': concatStr,
      'cat-or-dog': catOrDog,
      'right-btn': rightBtn,
      'tooFast': tooFast,
      'fastest': fastest
      
  }
}
</script>
 


<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,700'); 

     body {
        margin: 0;
        padding: 0;
    }
    #lab-container {
        padding: 0;
        margin: 0;
    }
     #lab-container p {
        line-height: 22px;
    }
    
    .lab-section {
        width: 80%;
        margin-left: 20%;
        font-family: 'Raleway', 'Arial', sans-serif;
        padding-left: 0;
        padding-right: 0;
    }

    .lab-section .intro {
        width: 600px;
        padding: 0 1em 1em 10em;      
    }

    .lab-section .intro h2, lab-section .intro h3 {
        font-weight: 300;
    }

    .labForms {
        width: 600px;
        padding: 0 1em 10em 10em;  
        margin-bottom: 10em;
    } 

    /*.form-list {
        display: flex;
    }*/

    .labForms input {
       /* width: calc(79% - 40px);*/
          width: calc(100% - 40px);
        border: 0;
        padding: 18px 20px;
        font-size: 1.1em;
        background: /*#323333;*/  #2e9ce6;
        color: /*#687f7f;*/ #fff;
    }

    .labForms input::placeholder {
        color:  #ddd;
    }

    .labForms button.submit {
      /*  width: 20%;
        margin-left: 1%;*/
        font-size: 0.9em;
        background-color: #1be46b;
        color: #fff;
        border: none;
        transition: 1s;
        text-transform: uppercase;
        padding: 14px 20px;
        margin: 5px 0;
    }

    .labForms button.submit:hover {
         opacity: 0.7;
         cursor: pointer;
    }

    .list-wrapper ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .list-wrapper ul li {
        padding: 18px 20px;
        font-size: 1.1em;
        background-color: #E0EDF4;
        /* border-left: 5px solid #3EB3F6;*/
        margin-bottom: 2px;
        color: #3E5252;
    }

    .list-wrapper p {
        text-align:center;
        padding: 30px 0;
        color: gray;
    }

    i {
        float: right;
        color:  #3E5252;
        cursor: pointer;
    }
    
     .result-msg {
        position: absolute;
        right: 200px;
        top: 200px;
    }

</style>
